//- index.pug
doctype html
html
  head
    title Manish Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      ul
       diiv#logo
          img(src = "/static/img/logoDance.jpg")   
       li #[a(href="/") Home]
       li #[a(href="/") About]
       li #[a(href="/") Services]
       li #[a(href="/") Class Info]
       li #[a(href="/") Contact Us]

    section#intro
        div.big Welcome To Dance Academy
        div.small Eat Sleep Dance Repeat
    
    div.mis
     section#missionSection
          h2 Our Mission
          div.card
            h3 Dance perfaction 
            div.card-box 
                div.card-img
                   img(src="/static/img/card1.png", alt="")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.   
          div.card
            h3 Expert teaching 
            div.card-box 
                div.card-img
                   img(src="/static/img/card2.png", alt="")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.   
          div.card
            h3 Dance the way you like  
            div.card-box 
                div.card-img
                   img(src="/static/img/card3.png", alt="") 
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.       

    section#sponserSection
        h2 Our Sponsers 
        div#sponsers 
           img(src="/static/img/logo1.png", alt="sponser image", class="spImg")
           img(src="/static/img/logo2.png", alt="sponser image", class="spImg") 
           img(src="/static/img/logo3.png", alt="sponser image", class="spImg")
           img(src="/static/img/logo4.png", alt="sponser image", class="spImg") 


    footer#footer
         p Copyright &copy; 2020
    script
      include ../static/index.js